<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

<strong><h1 class="text-success" mat-dialog-title><u>  Informations sur la qualite de service(QOS)
    <button class="fermeqos" (click)="modalService.dismissAll()">
        Close&times;</button>
</u></h1></strong>

<div style="margin-top: 50px;margin-bottom: 50px">

    <button class="btn btn-info btn-lights"
            (click)="getQosById($event)">
        <h6> <i class="fa fa-info-circle  fa-lg "></i>
            <span class="d-none d-md-inline">Visualiser</span></h6>
    </button>

</div>

<div *ngIf="selectedValue">

    <!-- code du tableau-->
    <table id="contentToConvert">
        <ul class="list-group">
            <li class="list-group-item"> <strong>Traffic :</strong>{{ qos?.traffic}}</li>
            <li class="list-group-item"> <strong>Temps de réponse : </strong>{{ qos?.tempsdereponse}}</li>
            <li class="list-group-item"> <strong>Sensibilité :</strong> {{ qos?.sensibilite}}</li>
            <li class="list-group-item"> <strong>Débit : </strong> {{ qos?.debit}}</li>
        </ul>
    </table>
</div>
