<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/5.11.2/css/font-awesome.min.css"/>

<!-- code des symbole et bouton side bar -->

<nav class="navbar navbar-expand-lg navbar-light btn-success">

    <!-- debut code symbole sidebar  -->

    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">swap_horizontal_circle
        </mat-icon>
    </button>
    <!-- fin code symbole sidebar-->


    <!-- debut code bouton date et rechercher-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> </ul>
        <div style="margin-right: 14px">
            <mat-form-field color="accent">
                <input  matInput [matDatepicker]="picker1" placeholder="Choisissez date de début">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div style="margin-right: 14px; margin-left: 14px">
            <mat-form-field color="warn">
                <input matInput [matDatepicker]="picker2" placeholder=" Choisissez date de fin ">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div style="margin-left: 25px">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher </button>
        </div>

    </div>
    <!-- fin code bouton date et rechercher-->
</nav>


<!-- fin code des symbole et bouton side bar -->



<!-- debut code afficher infos sur le side nav-->



<mat-sidenav-container class="sidenav-container">


    <mat-sidenav #drawer mode="over"  opened="false" role="navigation" class="sidenav" fixedInViewport>

        <div style="border: 1px solid">
            <mat-toolbar>Choisissez une zone
                <div style="margin-left: 30px">
                    <button class="btn btn-danger btn-sm"
                            (click)="drawer.close()">
                        <span>Fermer&times;</span>
                    </button></div>
            </mat-toolbar>
        </div>

        <div style="margin-left: 40px">

            <mat-form-field>
                <h5><strong> <mat-label>Zone: </mat-label></strong></h5>
                <mat-select [(value)]="selectedValue" (selectionChange)="getZoneById($event)">
                    <mat-option *ngFor="let zone of listzone" value="{{ zone.id }}">{{ zone.nomzone }}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div *ngIf="selectedValue">

            <strong><h4><p class="text-info"><u>Informations de la zone </u></p></h4></strong>

            <!-- code du tableau-->
            <cdk-virtual-scroll-viewport itemSize="50" class="container" >
                <table id="contentToConvert">
                    <ul class="list-group">
                        <li class="list-group-item"> <strong>Nom Zone:</strong> {{ zone?.nomzone}}</li>
                        <li class="list-group-item"> <strong>Taux de Couverture: </strong> {{ zone?.couverture}}</li>
                        <li class="list-group-item"> <strong>Population:</strong> {{ zone?.population}}</li>
                        <li class="list-group-item"> <strong>Cadastre: </strong>{{ zone?.cadastre}}</li>
                    </ul>
                </table>
            </cdk-virtual-scroll-viewport>
            <p></p>


            <button [routerLink]="['/editzone']" class="btn btn-info btn-sm">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                <span class="d-none d-md-inline">Modifier</span>
            </button>


            <button class="btn btn-secondary btn-sm"
                    (click)="ConvertDataToPdf()">
                <i class="fa fa-download fa-lg"></i>
                <span class="d-none d-md-inline">Telecharger</span>
            </button>


            <button class="btn btn-info btn-sm"
                    (click)="ShareData()">
                <i class="fa fa-share-alt-square fa-lg "></i>
                <span class="d-none d-md-inline">Partager</span>
            </button>


            <div style="margin-top: 135px">
                <button class="btn btn-warning btn-sm"
                        (click)="SendAlert()">
                    <i class="fa fa-exclamation-triangle fa-lg "></i>
                    <span class="d-none d-md-inline">Alerte</span>
                </button>
                <button class="btn btn-secondary btn-sm"
                        (click)="AffichBts()">
                    <i class="fa fa-signal fa-lg "></i>
                    <span class="d-none d-md-inline">BTS</span>
                </button>
                <button class="btn btn-success btn-sm"
                        (click)="AffichQos()">
                    <i class="fa fa-chart-pie fa-lg "></i>
                    <span class="d-none d-md-inline">QOS</span>
                </button>
                <button class="btn btn-primary btn-sm"
                        (click)="AffichKpi()">
                    <i class="fa fa-chart-line fa-lg "></i>
                    <span class="d-none d-md-inline">KPI</span>
                </button>
            </div>
        </div>
        <!-- fin code tableau-->
    </mat-sidenav>

    <!-- fin code afficher infos sur le side nav-->

</mat-sidenav-container>

<!--fin code du side nav -->
