<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

<strong><h1 class="text-success" mat-dialog-title><u> Details des antennes
    <button class="onferme" (click)="modalService.dismissAll()">
        Close&times;</button>
</u></h1></strong>
<div>
</div>
<p>
</p>
<strong><p class="text-secondary"> Hauteur : 33.2 M </p></strong>
<strong><p class="text-secondary"> Description du support : Immeuble / 35m / Copropriété, Syndic, SCI</p></strong>
<strong><p class="text-secondary"> Adresse : 678 AVENUE BLAISE DIAGNE/</p></strong>
<strong><p class="text-secondary"> Code Postal / Commune : 77350 DIEUPPEUL</p></strong>


<div style="margin-top: 30px;margin-bottom: 30px">


    <button class="btn btn-info btn-sm"
            (click)="getBtsById($event)">
        <h6> <i class="fa fa-info-circle fa-lg "></i>
            <span class="d-none d-md-inline">Antenne 1 </span></h6>
    </button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-info btn-sm"
            (click)="getUneBtsById($event)">
        <h6> <i class="fa fa-info-circle fa-lg "></i>
            <span class="d-none d-md-inline">Antenne 2 </span></h6>
    </button>

</div>

<div *ngIf="selectedValue">
    <!-- code du tableau-->

    <table id="contentTo">
        <ul class="list-group">
            <li class="list-group-item"> <strong>ID:</strong> {{ bts?.id}}</li>
            <li class="list-group-item"> <strong>Type:</strong> {{ bts?.type}}</li>
            <li class="list-group-item"> <strong>Etat: </strong> {{ bts?.etat}}</li>
            <li class="list-group-item"> <strong>Puissance:</strong> {{ bts?.puissance}}</li>


        </ul>
    </table>
</div>
