<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
            <div class="form-group">
                <label for="destina">
                    Selectionner le destinataire
                </label>

                <select id="destina" class="form-control" name ="destina" [ngModel]="dest" required >
                    <option value="764125780">Momodou</option>
                    <option value="778692808">Ousmane</option>
                    <option value="778692808">Michel</option>
                    <option value="778692808">Adama</option>
                </select>
            </div>

            <div class="form-group">
                <label for="msg">
                    Entrez le message
                </label>
                <input type="text" id="msg" class="form-control" name ="msg" ngModel >
            </div>
            <p></p>
            <p></p>
            <div style="margin-top:70px ">
                <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Envoyer</button>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn btn-danger" (click)="onClose()" type="submit" mat-dialog-close>Annuler</button>
            </div>

        </form>
    </div>
</div>
